mat-toolbar {
  margin-bottom: 1rem;
}

mat-toolbar-row:nth-child(2) {
  height: 2rem;
}

main {
  max-width: 1170px;
  margin: 0 auto;
}

.toggle-button {
  margin-top: 2rem;
}

.author {
  font-size: 0.8rem;
}